body {
    margin: 0px 0px 0px 0px;
    font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica';
}
h1 {
    color: #f5f5f5;
    text-shadow: 1px 1px #616161;
    font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica';
}
p {
    font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica';
}
li {
    float: left;
}

/* Hover menu settings 
This is donneeee*/
li a {
	font-size: 25px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4e342e;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Info tab styles */
.about {
	font-size: 30px;
	color: #f5f5f5;
	text-shadow: 1px 1px #616161;
	margin: 0px 0px 0px 0px;
	background-color: #aed581;
	height:100vh;
	padding-bottom: 50px;
	padding-top: 25px;
}

.symptoms {
	margin: 0px 0px 0px 0px;
	background-color: #0dbdbd ;
	height:100vh;
	padding-bottom: 50px;
	padding-top: 50px;
}

.contact {
	margin: 0px 0px 0px 0px;
	background-color: #0dbdff ;
	height:100vh;
	padding-bottom: 50px;
	padding-top: 50px;
}

.how-it-works {
	margin: 0px 0px 0px 0px;
	background-color: #a166c4 ;
	height:100vh;
	padding-bottom: 50px;
	padding-top: 50px;
}
