body {
    margin: 0px 0px 0px 0px;
    font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica';
}
h1 {
    color: #f5f5f5;
    text-shadow: 1px 1px #bdbdbd ;
    font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica';
}
p {
    font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica';
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4e342e;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.info {
	margin: 0px 0px 0px 0px;
	background-color: #aed581;
	height:100vh;
	padding-bottom: 50px;
	padding-top: 50px;
}

.questions {
	margin: 0px 0px 0px 0px;
	background-color: #80d8ff ;
	height:100vh;
	padding-bottom: 50px;
	padding-top: 50px;
}

.maps {
	margin: 0px 0px 0px 0px;
	background-color: #b39ddb;
	height:100vh;
	padding-bottom: 50px;
	padding-top: 50px;
}